<div
  data-scroll-animate="true"
  data-scroll-animate-x="150"
  class="relative"
  style="opacity: 0"
>
  <iframe
    title="Discord-Widget"
    src="https://discord.com/widget?id=1219625244906754093&theme=dark"
    class="w-full"
    height="600"
    style="border: 0"></iframe>
</div>
